---
import { Icon } from 'astro-icon';
---

<header class="mb-12 w-screen border-b border-b-secondary px-4">
  <nav class="mx-auto flex max-w-6xl items-center justify-between">
    <div>
      <a href="/">
        <Icon name="logo" width="150" />
      </a>
    </div>
    <div class="flex gap-4">
      <a class="btn-outline btn-primary btn uppercase" href="/">Home</a>
      <a class="btn-outline btn-primary btn uppercase" href="/blog/">Blog</a>
    </div>
  </nav>
</header>
